.container {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 1fr 1.5fr 1fr;

    justify-content: center;
    grid-template-areas: 
        'stat1 image stat3'
        'stat2 image stat4'
        'empty1 stat5 empty2';
}

.item-1 {
    grid-area: stat1;
}

.item-2 {
    grid-area: stat2;
}

.item-3 {
    grid-area: image;
}

.item-4 {
    grid-area: stat3;
}

.item-5{
    grid-area: stat4;
}
.item-6{
    grid-area: stat5;
}


.container-util {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container-util {
    max-width: 1280px;
  }

  
}

/* xl */
@media (max-width: 1280px) {
  .container-util {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container-util {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container-util {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container-util {
    max-width: 475px;
  }
  .container {
    grid-template-rows: 200px;
    grid-template-columns: 300px repeat(5, 100px);
    grid-template-areas: 
        'image'
         'stat3'
        'stat2' 
        'stat1'
         'stat4'
         'stat5';
  }
}

/* xs */
@media (max-width: 475px) {
  .container-util {
    width: 100%;
  }
}
