<!DOCTYPE html>
<html lang="en" id="top">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Praktikums Blog</title>
    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/css/index.css" />
    <link
      rel="icon"
      type="image/vnd.microsoft.icon"
      href="/static/images/favicon.ico"
    />

  </head>
  <body>
    <header class="sticky">
      <nav>
        <ul id="hederList">
          <li>
            <img
              id="logo"
              src="/static/images/logo2.png"
              alt="logo"
              height="40"
            />
          </li>
          <li>
            <div class="dropdown">
              <button
                class="dropbtn current"
                onclick="window.location.href=`/index.html`"
              >
                Startseite
              </button>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropbtn">Dienstag</button>
              <div class="dropdown-content">
                <a href="/Dienstag/Informatik-Grundlagen.html"
                  >Grundlagen der Informatik</a
                >
                <a href="/Dienstag/Java-Grundlagen.html">Java Grundlagen</a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropbtn">Mittwoch</button>
              <div class="dropdown-content">
                <a href="/Mittwoch/App-Entwicklung.html"
                  >Mobile App entwicklung</a
                >
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropbtn">Donnerstag</button>
              <div class="dropdown-content">
                <a href="/Donnerstag/Austausch-mit-Azubis.html"
                  >Austausch mit Azubis</a
                >
                <a href="/Donnerstag/Richtig-Präsentieren.html"
                  >Richtig Präsentieren</a
                >
                <a href="/Donnerstag/Business-Analyse.html">Business Analyse</a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropbtn">Freitag</button>
              <div class="dropdown-content">
                <a href="/Freitag/Webentwicklung.html"
                  >Webseitenprogrammierung</a
                >
                <a href="/Freitag/Design-Thinking.html">Design Thinking</a>
              </div>
            </div>
          </li>
          <li>{{ loginVar | safe}}</li>
          <li>
              <div class="autocomplete", style="width: auto;">
                <input
                  id="search"
                  type="text"
                  name="myCountry"
                  placeholder="search"
                />
              </div>
          </li>
        </ul>
      </nav>
    </header>
    <div class="content">
      <div class="text">
        <img src="/static/images/bank-logo.png" alt="logo" class="center" />
        <p>
          <br />
          Praktikum bei der Deutschen Bank vom 11.03 - 21.03 Die Deutsche Bank
          ist eine der größten Banken Deutschlands. Sie wurde 1870 mit dem Ziel
          gegründet, die internationalen Handelsbeziehungen zu stärken.
          Mittlerweile ist die Bank mit 85.000 Mitarbeiter in 70 Ländern
          vertreten und genießt auf dem internationalen Finanzmarkt einen großen
          Einfluss. Als ein großer Arbeitgeber bietet die deutsche Bank auch ein
          Umfangreiches Kariere, Praktikums und Ausbildungsprogramm.
          <br /><br />Im Rahmen unseres Praktikums durften wir einen Einblick in
          die Arbeit und das Umfeld der Bank werfen. Vor allem haben wir einiges
          im Bereich der Informatik gelernt. Wir begannen mit den Grundlagen der
          Informatik, einschließlich der Geschichte der IT sowie grundlegende
          Konzepte von Hardware und Software. <br />
          Daraufhin folge eine Einführung in die Programmiersprache Java, in die
          Webseitenprogrammierung mit HTML, CSS und JavaScript und die
          Entwicklung einer Handy App. Wir hatten die Gelegenheit uns mit
          Auszubildenden auszutauschen und die Karrieremöglichkeiten in der Bank
          kennenzulernen.
          <br /><br />
          Es wurde uns beigebracht, wie wir Präsentationen halten und
          vorbereiten. In der Business-Analyse und im Design-Thinking haben wir
          uns damit auseinandergesetzt, die Kunden zu verstehen und innovative
          Produkte zu entwickeln.
        </p>
      </div>
    </div>
<script src="/static/search.js"></script>
    <footer>
      <nav>
        <ul>
          <li><a href="/verschiedenes/impressum.html">Impressum</a></li>
          <li><a href="/verschiedenes/datenschutz.html">Datenschutz</a></li>
          <li><a href="/verschiedenes/kontakt.html">Kontakt</a></li>
          <li><a href="#top">🡅</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
