<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Do you want to change the password from {{name}}?</title>
    <link href="static/buttons2.css" rel="stylesheet" type="text/css">
</head>

<body>
    <script>
        function getInputValue(){
            // Selecting the input element and get its value
            var inputVal = document.getElementById("new").value;
            // Displaying the value
            window.location.href = "/adminpanel?t=change_password~{{name}}&q=" + inputVal;return false;
        }
    </script>
<h1>Möchtest du wirklich das Passwort von {{name}} ändern?</h1>
<div>
<input id="new" type="text" placeholder="Enter your new password">

</div>
<div>
    <a href="/adminpanel" style="--clr:#6eff3e"><span>Abbrechen</span><i></i></a>
</div>
<div>
    <a onclick="getInputValue()" style="--clr:#FF2400"><span>Bestätigen!</span><i></i></a>
</div>


</body>
</html>