<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Willkommen auf der Startseite!</title>
        <link rel="stylesheet" type="text/css" href="static/buttons.css">
    </head>
    <body>
    <br>
    <div>
            <a href="/login" style="--clr:#6eff3e"><span>Ausloggen</span><i></i></a>

            <span style="float: right;">
                {% if rang !=2 %}
                    <a href="/adminpanel" style="--clr:#6eff3e"><span>Adminpanel</span><i></i></a>
                {% endif %}
            </span>
    </div>
        <br>
        <h1 style="text-align: center;">Du bist eingeloggt als {{name}}!</h1>

    <div style="text-align: center;">
        <br>
        {% if rang == 0 %}
        <h1>Entwickler Optionen:</h1>
        <a href="#" style="--clr:#98ff98"><span>Link1</span><i></i></a><br><br><br>
        <a href="#" style="--clr:#98ff98"><span>Link2</span><i></i></a><br><br>
        <hr>
        <br>
        {% endif %}
        {% if rang <= 1 %}
        <h1>Administrative Optionen:</h1>
        <a href="#" style="--clr:#ffa500"><span>Link1</span><i></i></a><br><br><br>
        <a href="#" style="--clr:#ffa500"><span>Link2</span><i></i></a><br><br>
        <hr>
        <br>
        {% endif %}
        {% if rang <= 2 %}
        <h1>User Optionen:</h1>
        <a href="#" style="--clr:#8800ff"><span>Link1</span><i></i></a><br><br><br>
        <a href="#" style="--clr:#8800ff"><span>Link2</span><i></i></a><br><br>
        <hr>
        <br>
        {% endif %}
    </div>
    </body>
</html>